@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--default-color: #50a65c;
	--secondary-color: #03a8f477;
	--primary-color: #ffffff; /* Default color */
}

/* Add this CSS in your global styles or component-specific styles */
.loader {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top: 4px solid #fff;
	width: 24px;
	height: 24px;
	animation: spin 2s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* scrollbar styles */

.no-scrollbar::-webkit-scrollbar {
	display: none !important;
}

::-webkit-scrollbar {
	height: 0.25rem;
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: #50a65c;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #03a8f477;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 9999px;
}

/* clerk custom styles */

.cl-internal-1j7ahlv {
	width: 2.2rem;
	height: 2.2rem;
}

.cl-logoImage {
	height: 2rem;
	border-radius: 10px;
}

/* tip modal custom styles */
.sheetContent {
	height: calc(var(--vh, 1vh) * 100);
	min-height: 444px;
	max-height: 460px;
}

@media only screen and (max-width: 768px) {
	.cl-internal-phfxlr {
		width: 85vw;
	}
	.cl-internal-qk5yrq {
		width: 100%;
		max-width: 100% !important;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

@media only screen and (max-width: 580px) {
	.cl-internal-phfxlr {
		width: 100vw !important;
	}
}

/* feedback styles */

.rc-slider-mark {
	top: -40px !important;
}

/* react slick carousel styles */

.slick-dots {
	bottom: 0 !important;
}

/* stream custom styles */

.str-video__speaker-layout .str-video__speaker-layout__spotlight {
	display: flex;
	justify-content: center;
	height: 89% !important;
	/* margin-bottom: 16rem; */
	position: absolute !important;
	top: 0rem;
	left: 0px;
	width: 100%;
	padding: 0rem 1rem;
}

.str-video__speaker-layout
	.str-video__speaker-layout__participants-bar-buttons-wrapper {
	position: absolute !important;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 13% !important;
	right: 7% !important;
}

.str-video__participant-view {
	min-height: 172px !important;
}

.str-video__speaker-layout
	.str-video__speaker-layout__participants-bar-wrapper
	.str-video__speaker-layout__participants-bar
	.str-video__speaker-layout__participant-tile {
	width: 100% !important;
	min-width: 144px !important;
	max-width: 160px !important;
	padding: 0px;
	border: 2px solid rgba(255, 255, 255, 0.233);
	border-radius: 15px;
	padding: 0px !important;
}

.str-video__speaker-layout
	.str-video__speaker-layout__spotlight
	.str-video__video
	.str-video__video--tall {
	object-fit: cover !important;
}

.str-video__video--tall {
	object-fit: cover !important;
}

.str-video__paginated-grid-layout .str-video__paginated-grid-layout__group {
	max-width: 100% !important;
}

.str-video__device-settings {
	min-width: 75vw !important;
}

.str-video__device-settings__device-kind {
	min-width: 75vw !important;
}

.str-video__device-settings__option {
	text-overflow: ellipsis;
	overflow-x: hidden;
	text-wrap: nowrap;
}

.str-video__notification {
	z-index: -1 !important;
	background-color: #50a65c;
}

.str-video__device-settings__device-selector-title {
	font-size: 16px !important;
	margin-left: 0.75rem;
	font-weight: 700;
	color: #50a65c;
}

.str-video__device-settings__device-kind .str-video__option input[type="radio"],
.str-video__device-settings__device-kind
	.str-video__device-settings__option
	input[type="radio"] {
	height: 0.75rem !important;
}

.str-video__participant-view > .str-video__call-controls__button {
	display: none;
}

@media (min-width: 600px) {
	.str-video__speaker-layout
		.str-video__speaker-layout__spotlight
		.str-video__video {
		object-fit: cover !important;
	}

	.str-video__device-settings {
		min-width: 35vw !important;
	}

	.str-video__device-settings__device-kind {
		min-width: 35vw !important;
	}
	.str-video__device-settings__option {
		font-size: 14px !important;
	}
}

/* Other Styles */

.blurEffect {
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(4px) !important;
}

/* Hide spinner controls for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

@layer base {
	body {
		@apply !font-default;
	}
}

@layer utilities {
	.hoverScaleEffect {
		@apply transition-all duration-500 hover:scale-105;
	}

	.hoverScaleDownEffect {
		@apply transition-all duration-500 hover:scale-95;
	}
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}

	.error-message {
		@apply text-red-500 text-sm;
	}

	.input-field {
		@apply bg-gray-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-gray-500 rounded-xl px-4 py-3 border-none focus-visible:ring-transparent !important;
	}

	.input-field-modal {
		@apply bg-gray-100 hover:bg-gray-200 h-[54px] focus-visible:ring-offset-0 placeholder:text-gray-500 rounded-xl px-4 py-3 border-none focus-visible:ring-transparent !important;
	}

	.textarea {
		@apply bg-gray-50 flex flex-1 placeholder:text-gray-500 px-5 py-3 border-none focus-visible:ring-transparent !important;
	}

	.active {
		@apply h-full min-w-[95%] flex translate-x-0 items-center text-center justify-center px-7 py-5 z-20;
	}

	.next {
		@apply -translate-x-[10%] w-full;
	}

	.previous {
		@apply translate-x-[10%] w-full;
	}

	.callOptionContainer {
		@apply flex flex-col gap-2 border bg-white border-gray-300 rounded-xl py-3 px-4 justify-center items-center w-[85%] xl:w-[50%] transition-all duration-300 hover:scale-105 cursor-pointer;
	}

	.text-balance {
		text-wrap: balance;
	}

	/* File uploader */
	.file_uploader-img {
		@apply h-44 w-full min-w-44 max-w-44 rounded-full object-cover;
	}

	.file_uploader-label {
		@apply text-[#5C5C7B] text-center text-[14px] font-normal leading-[140%] w-full p-4;
	}

	.file_uploader-box {
		@apply flex flex-col items-center justify-center bg-gray-50 p-7 h-80 lg:h-[350px] w-full;
	}

	/* Creator Home */

	.servicesCheckbox {
		position: relative;
		display: flex;
		align-items: center;
	}

	.servicesCheckboxContent {
		content: "";
		position: absolute;
		top: 0.15rem;
		left: 0.1rem;
		width: 1.2rem;
		height: 1.2rem;
		background-color: white;
		border-radius: 50%;
		transition: transform 0.3s;
	}

	/* card content highlighter */
	.creatorsGirdHighlight {
		@apply absolute bottom-0 w-full bg-gradient-to-t from-black to-black/20 p-4 rounded-xl;
	}
}

/* Keyframes */

@keyframes slide-in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.transition-slide-active {
	animation: slide-in 0.5s ease-in-out forwards;
}

.transition-slide-next {
	animation: slide-in 0.5s ease-in-out backwards;
}

.transition-slide-previous {
	animation: slide-out 0.5s ease-in-out backwards;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.creator-card {
	opacity: 0;
	animation: fadeInUp 0.5s forwards; /* Animation duration and direction */
}

.creator-card.entered {
	animation-delay: var(--delay); /* Each card will have a different delay */
}
